.contacts{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-left: 150px;
  height: 74vh;
  margin-top: 4px;
  &__data{
    width: 50%;
    margin-right: 40px;
    margin-left: 100px;
    margin-top: 50px;
  }
}
h1{
  margin-bottom: 25px!important;
}

h2{
  padding-top: 10px;
}

h1, h2{
  font-weight: 500;
  font-size: 41px;
  color: #585858;
}

.footer__link{
  color: #585858;
  text-decoration: none;
}
.footer__link:hover{
  color: #585858;
  text-decoration: none;
}
