.slick-vertical{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sidebar__corousel img{
  width: 100%;
  height: 60%;
}

.slick-list{
  height: 100%!important;
}

